<launch>

        <arg name="serial_id" />
        <arg name="start_x" />
        <arg name="start_y" />
        <arg name="start_yaw"/>

        <param name="serial_id" value="$(arg serial_id)"/>
        <param name="start_x" value="$(arg start_x)"/>
        <param name="start_y" value="$(arg start_y)"/>
        <param name="start_yaw" value="$(arg start_yaw)"/>


        <node name="agent_node" pkg="agent" type="agent_node" ns="sim1"/>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find agent)/rviz/multiagent.rviz"/>


        <node name="planner_node" pkg="planner" type="planner_node" ns="sim1"/>

        <node name="agent_node" pkg="agent" type="agent_node" ns="sim2"/>
        <node name="planner_node" pkg="planner" type="planner_node" ns="sim2"/>


</launch>




<!--<launch>
    <node name="agent_node" pkg="agent" type="agent_node" output="screen">

    <param name="serial_id" value="agent_2" />
        <param name="start_x" value="2" />
        <param name="start_y" value="2" />
        <param name="start_yaw" value="0" />
    </node>

        <arg name="serial_id" />
        <arg name="start_x" />
        <arg name="start_y" />
        <arg name="start_yaw"/>

    <param name="serial_id" value="$(arg serial_id)"/>
    <param name="start_x" value="2"/>
    <param name="start_y" value="2"/>
    <param name="start_yaw" value="2"/>



<node name="planner_node" pkg="planner" type="planner_node" output="screen">
</node>



 Rviz


</launch>-->




































